* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: helvetica, "microsoft yahei";
    font-size: 14px;
    color: #333;
}

.main {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    font-size: 0;
}
.banner {
    display: block;
    width:98%;
    margin:1%;
    border-radius: 4px;
}
.main .left, .main .right {
    width:48.5%;
    display: inline-block;
    margin:0 0 0 1%;
    vertical-align: top;
}
.item {
    width:100%;
    margin:0 0 5px 0;
}
.item img {
    opacity: 1;
    transition: opacity 0.6s;
}
.item img[data-src] {
    opacity: 0;
}
.item .fonts {
    position: relative;
    border:solid 1px #e6e6e6;
    border-top: 0;
    box-sizing: border-box;
    border-radius:0 0 4px 4px;
}
.item .fonts::after {
    content: "";
    position: absolute;
    width:50%;
    right:0;
    top:100%;
    height:9px;
    background: url("../img/shadow-right.png") center right 0 no-repeat;
    background-size: auto;
}
.item .fonts::before {
    content: "";
    position: absolute;
    width:50%;
    left:0;
    top:100%;
    height:11px;
    background: url("../img/shadow-left.png") center left 0 no-repeat;
    background-size: auto;
}
.item .desc {
    font-size: 14px;
    padding:5px;
}
.item .date {
    font-size: 12px;
    text-align: right;
    padding:5px;
    color:#878787;
    font-style: italic;
}
.item img {
    display: block;
    width:100%;
    border-radius:4px 4px 0 0;
}

.add-btn {
    width:12%;
    max-width:50px;
    padding:8px;
    box-sizing: border-box;
    position: fixed;
    right:10px;
    bottom:30%;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 5px 5px 15px #dadada;
}

.form-con {
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: none;
}

.main-blur {
    filter:blur(2px);
    -webkit-filter:blur(2px);
}

.form-inner {
    position: absolute;
    background-color:#fff;
    width:80%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #aeaeae;
    text-align: center;
    padding:20px 0 30px;
}
.form-inner h3 {
    padding:20px 0 15px;
}
.photo-file {
    display: none;
}
.label-icon {
    width:50%;
    border-radius: 5px;
}
.photo-desc {
    width:70%;
    height: 60px;
    display: block;
    margin:15px auto;
    padding:5px;
    box-sizing: border-box;
    outline: 0;
    border-radius: 5px;
    border:solid 1px #e1e1e1;
    resize: none;
    appearance:none;
    -webkit-appearance:none;
}
.close-btn {
    position: absolute;
    width:35px;
    top:10px;
    right:10px;
}
.flex-container {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.upload-btn {
    height: 40px;
    width:70%;
    line-height: 40px;
    background-color: deepskyblue;
    margin:0 auto;
    color:#fff;
    font-size:16px;
    border-radius: 5px;
}
.end {
    display: none;
    width:60%;
    border-top:solid 1px #e1e1e1;
    margin:20px auto;
}
.end span {
    display: block;
    font-size: 12px;
    color:#878787;
    width:100px;
    text-align: center;
    line-height: 20px;
    margin:-12px auto 0;
    background-color: #fff;
}
.loading {
    padding:10px 0;
    text-align: center;
    display: none;
}
.loading * {
    display: inline-block;
    vertical-align: middle;
}
.loading img {
    width:24px;
}
.loading span {
    font-size: 12px;
    color:#878787;
    padding:0 0 0 5px;
}
.loading-rotate {animation:rotate 1.5s linear infinite;-webkit-animation:rotate 1.5s linear infinite;}
@keyframes rotate {
    0% {transform: rotateZ(0deg)}
    100% {transform: rotateZ(-360deg)}
}
@-webkit-keyframes rotate {
    0% {-webkit-transform: rotateZ(0deg)}
    100% {-webkit-transform: rotateZ(-360deg)}
}